@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgb(220, 223, 226);
}

/* NavBar*/

nav {
  background-color: #f4f3f3;
  height: 60px;
  display: flex;
}

nav div {
  display: flex;
  align-items: center;
}

nav .left-side {
  flex: 50%;
  padding-left: 50px;
  background-color: #f4f3f3
}

nav .right-side {
  flex: 50%;
  justify-content: flex-end;
  padding-right: 50px;
}

nav .right-side a {
  font-size: 15px;
  padding: 4px 20px;
  background-color: #080808;
  border: none;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  margin-left: 50px;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav a {
  color: rgb(3, 3, 3);
  text-decoration: none;
}

nav a.active {
  text-decoration: none;
  padding: 4px 10px;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
}




.container {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  margin: 50px 100px;
  border-radius: 4px;
  padding: 50px 40px;
  display: flex;
  background-color: white;
}

/* Left */
.header {
  margin-bottom: 20px;
}

.left-content {
  flex: 70%;
  margin-right: 40px;
}

.content {
  text-align: justify;
}

.info {
    display: flex;
}

.btn-contact {
    text-decoration: none;
    background: #0e0d0d;
    border-radius: 30px;
    margin-top: 10px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;}

.btn-contact:hover{
    text-decoration: none;
    background-color: #2e2e2e;
    border-radius: 30px;
    margin-top: 10px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;}   


.btn-cv {text-decoration: none;
    margin-top: 50px;
    color: #0a0101; 
    cursor: pointer;
    padding: 10px;}

.btn-cv:hover {text-decoration: none;
    margin-top: 50px;
    color: #0a0101; 
    cursor: pointer;
    font-weight: bold;
    padding: 10px;}


    
a {
  text-decoration: none;
  color: #000;
  border-radius: 50px;
}



.socmed {
  font-size: 20px;
  word-spacing: 20px;
  }

.socmed a {font-size: 20px;
  padding: 9px;
  background-color: #080808;
  border-radius: 100%;
  color: white;
  margin: auto;
  text-decoration: none;
}
 

/* Right */
.right-content {
  flex: 20%;
}

.card {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width:100%;
  margin-top: -18px;
  margin-bottom: -18px;
  border-radius: 10px;
  
}

img.img-profile {
  border-radius: 5px 5px 0 0;
}


/* contact */

.container-contact {
  margin: auto;
  width: 30%;
  padding-top: 10px;
}

.header {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  resize: vertical;
  
}

textarea {height: 100px;}

.btn-submit {
  
  background-color: #313131;
  color: white;
  padding: 8px 30px;
  margin: 8px 0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  float: right;
  }

.btn-submit:hover {
  background-color: #0a0a0a;
}

/* Blog Form */

.container-my-project-form {
  margin: auto;
  width: 400px;
  padding-top: 10px;
}

.header-form-project {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 10px;
}

label {
  font-weight: bold;
}

div .date {
  display: flex;
  align-items: flex-start;
  column-gap: 5px;
  }

div .date-left-side {
  flex: 70%;
  justify-content: flex-start;
  align-content: space-between;
  }

div .date-right-side {
  flex: 70%;
}

input[type="text"],
input[type="date"],
input[type="date"],
select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}

.container-checkbox {
  display: flex;
  margin-top: 8px;
  margin-bottom: 10px;
}

.container-checkbox .divkiri {
  width: 250px;
}

.container-checkbox .divkanan {
  width: 250px;
}


.container-checkbox .option_item {
  display: flex;
  font-weight: 600;
  color: rgb(88, 88, 88);
  align-items: center;
  padding: 4px 0px;
}

.container-checkbox .container input {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}


textarea {height: 100px;}
textarea[type="text-description"] {height: 100px;}

.container-my-project-form .input-blog-image-group label {
  font-size: 15px;
  display: flex;
}

.container-my-project-form .input-blog-image-group label {
  cursor: pointer;
  flex: 50%;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(255, 255, 255);
  border: 1px grey;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container-my-project-form div .img {
  cursor: pointer;
  display: flex;
  flex: 50%;
  justify-content: flex-end;
  background-color: rgb(255, 255, 255);
  scale: 50px;
  border-radius: 8px;
}

.choose {
  background-color: rgb(228, 222, 222);
  padding: 6px 10px;
  border-radius: 5px;
  color: #b8b2b2;
}

.btn-submit-my-project {
  background-color: #313131;
  color: white;
  padding: 8px 25px;
  margin-top: 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  float: right;
  }

.btn-submit-my-project:hover {
  background-color: #000000;
}




/*dynamic my project content*/

.header-my-project {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 10px;
}


.container-my-project {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: rgb(243, 243, 236);
  padding: 20px;    
}

.flex-container-my-project{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* Blog list */

.project-item {
  width: 25%;  
  padding: 15px;
  margin: 40px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  margin-left: 30px;
  margin-right: 30px;
}


.my-project-img {
  flex: 1;
}

.my-project-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.detail-project {
  flex: 2;
  margin-top: 10px;
}

.detail-project h3 {
  text-decoration: none;
  color: #000000;
  margin-bottom: 0px;
  margin-top: 10px;
}

.detail-project {
  flex: 2;
  margin-top: 10px;
}

.detail-project-content {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  margin-top: 0px;
}

.project-item p {
  margin-top: 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  height: 70px;
}

.btn-group {
  text-align: center;
  display: flex;
  justify-content: space-between;  
  object-fit: cover;
}

.btn-edit {
  width: 147px;
  padding: 5px 10px;
  border: 0;
  border-radius: 10px;
  background: #020202;
  color: #fff;
}

.btn-delete {
  width: 147px;
  padding: 5px 10px;
  border: 0;
  border-radius: 10px;
  background: #020202;
  color: #fff;
}

.logo {
  display: flex;
  margin-bottom: 20px;
}

.logo img {
  width: 30px;
}

.logo div {
  margin: 5px;
}



/* Project 1*/

/*.flex-container-my-project {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: rgb(27, 193, 235);
  width: 300px;
  padding: 10px 10px;
  border-radius: 8px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  border: 1px rgb(0, 0, 0);
  margin: auto;
}
.project {
  display: flex;
  flex-wrap: wrap;
  flex: 30%;
  justify-content: flex-start;
  align-content: space-between;
  background-color: rgb(202, 13, 177);
  width: 300px;
  
}

.flex-project img {
  width: 100%;
  margin: auto;
  border-radius: 8px;
  flex: 1;
}

.my-project img {  
  background-color: yellow;
}



/* Blog Detail */

.my-project-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0
}

.my-project-detail-container {
  width: 900px;
  margin-top: 0;
  box-sizing: border-box;
}

.my-project-detail div.paragraf {
  width: 900px;

}

.my-project-detail-container .detcon {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.my-project-detail-container .detcon .Lkiri {
  width: 600px;
  margin-right: 10px;
  
}

.my-project-detail-container .detcon .Rkanan {
  width: 400px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;   
}

.my-project-detail-container .detcon .Lkiri img {
  width: 100%;
  object-fit: fill;
}

.detcon .Rkanan img {
  width: 25px;
  height: 25px;
}

.detcon .Rkanan .text1 {
 
  margin-top: 0;
}



.detcon .Rkanan .text2 .log {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.detcon .Rkanan .text2 .log2 {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}


.my-project-detail-container h4 {
  font-weight: 600;
  font-size: 25px;
  line-height: 100%;
  margin-bottom: 20px;
}

.my-project-detail-container h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 20px;
  margin-left: 280px;
  margin-right: 100px;
}

 .paragraf {
  margin-top: 20px;
  text-align: justify;
}